version: "4.0"

services:
  postgres:
    image: postgres:16
    container_name: tg_postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  tg_cards_bot:
    build: .
    container_name: tg_cards_bot
    restart: always
    depends_on:
      - postgres
    env_file:
      - .env

volumes:
  pgdata:
